<%- include("templates/cabecera", {titulo: "Panel de administracion"}) %>

<div class="container mt-4">
    <h1 class="mb-4  d-flex justify-content-center">League of legends Champs Collection</h1>
    
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Abrir Modal
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <h2>Crear campeón </h2>
                        <form action="/leagueoflegends" class="my-2" method="POST" id="champions">
                            <input type="number" placeholder="id" class="form-control my-2" name="id" id="id" required>
                            <input type="text" placeholder="Nombre" class="form-control my-2" name="Nombre" id="nombre" required>
                            <input type="text" placeholder="Descripcion" class="form-control my-2" name="Descripcion" id="descripcion" required>
                            <input type="text" placeholder="Curiosidad" class="form-control my-2" name="Curiosidad" id="curiosidad" required>
                            <select class="form-select my-2" name="Region" id="region" required>
                                <option value="AguasTurbias">AguasTurbias</option>
                                <option value="Ciuad de Bandle">Ciudad de Bandle</option>
                                <option value="Demacia">Demacia</option>
                                <option value="Noxus">Noxus</option>
                                <option value="Flerjord">Flerjord</option>
                                <option value="Shurima">Shurima</option>
                                <option value="Islas de la sombra">Islas de la sombra</option>
                                <option value="Piltover">Piltover</option>
                                <option value="Zaun">Zaun</option>
                                <option value="Jonia">Jonia</option>
                                <option value="El vacio">El vacio</option>
                               
                            </select>
                            <button type="submit" class="btn btn-dark btn-block" id="guardarBtn">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion </th>
                    <th scope="col">Detalles </th>
                    <th scope="col">Eliminar</th>
                    <th scope="col">Actualizar </th>

                </tr>
            </thead>
            <tbody>
                <% if(arrayleagueoflegends.length > 0) { %>
                    <% arrayleagueoflegends.forEach(function(leagueoflegends) { %>
                        <tr>
                            <th scope="row"><%= leagueoflegends.id %></th>
                            <td><%= leagueoflegends.Nombre %></td>
                            <td><%= leagueoflegends.Descripcion %></td>
                            <td>
                                <button class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#myModal<%= leagueoflegends._id %>">Detalles</button>
                                
                                <div class="modal fade" id="myModal<%= leagueoflegends._id %>" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-center">Detalles</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body text-center">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Nombre</th>
                                                            <th scope="col">Descripción</th>
                                                            <th scope="col">Curiosidad</th>
                                                            <th scope="col">Región</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row"><%= leagueoflegends.id %></th>
                                                            <td><%= leagueoflegends.Nombre %></td>
                                                            <td><%= leagueoflegends.Descripcion %></td>
                                                            <td><%= leagueoflegends.Curiosidad %></td>
                                                            <td><%= leagueoflegends.Region %></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-warning btn-sm btn-eliminar" data-id="<%= leagueoflegends._id %>" data-bs-toggle="modal" data-bs-target="#eliminarModal<%= leagueoflegends._id %>">
                                    Eliminar
                                </button>
                            </td>
                            
                   
                            <div class="modal fade" id="eliminarModal<%= leagueoflegends._id %>" ...>
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="eliminarModalLabel">Confirmar Eliminación</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Estás seguro de que deseas eliminar este campeón?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn btn-danger" id="confirmarEliminar<%= leagueoflegends._id %>">Eliminar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                
                            
                           <td>
                        
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#miNuevoModal<%= leagueoflegends._id %>">
                                Actualizar
                            </button>
                            
                            <div class="modal fade" id="miNuevoModal<%= leagueoflegends._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar Campeón</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="editar" data-id="<%= leagueoflegends._id %>">
                                                <input type="number" value="<%= leagueoflegends.id %>" class="form-control my-2" name="id" id="idInput" placeholder="ID">
                                                <input type="text" value="<%= leagueoflegends.Nombre %>" class="form-control my-2" name="nombre" id="nombreInput" placeholder="Nombre">
                                                <input type="text" value="<%= leagueoflegends.Descripcion %>" class="form-control my-2" name="descripcion" id="descripcionInput" placeholder="Descripción">
                                                <input type="text" value="<%= leagueoflegends.Curiosidad %>" class="form-control my-2" name="curiosidad" id="curiosidadInput" placeholder="Curiosidad">
                                                <select class="form-control my-2" id="regionSelect" name="region">
                                                    <option value="AguasTurbias">Aguas Turbias</option>
                                                    <option value="Ciudad de Bandle">Ciudad de Bandle</option>
                                                    <option value="Demacia">Demacia</option>
                                                    <option value="Noxus">Noxus</option>
                                                    <option value="Freljord">Freljord</option>
                                                    <option value="Shurima">Shurima</option>
                                                    <option value="Islas de la sombra">Islas de la sombra</option>
                                                    <option value="Piltover">Piltover</option>
                                                    <option value="Zaun">Zaun</option>
                                                    <option value="Jonia">Jonia</option>
                                                    <option value="El vacío">El vacío</option>
                                                   
                                                </select>
                                                <button type="submit" class="btn btn-primary btn-sm">Actualizar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            

                        </tr>
                        
                    <% }); %>
                <% } else { %>
                    <tr>
                        <td colspan="4">No hay personajes disponibles.</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<%- include("templates/footer") %>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    const form = document.getElementById('champions');
    const idInput = document.getElementById('id');

    form.addEventListener('submit', function (event) {
        const alertDiv = document.getElementById('alertDiv');

        if (parseInt(idInput.value) < 0) {

            if (!alertDiv) {
                const alertDiv = document.createElement('div');
                alertDiv.id = 'alertDiv';
                alertDiv.classList.add('alert', 'alert-danger');
                alertDiv.innerHTML = '<strong>Error:</strong> El ID no puede ser negativo';

                form.parentNode.insertBefore(alertDiv, form);
            }

            event.preventDefault();
        } else {

            if (alertDiv) {
                alertDiv.remove();
            }
        }
    });

    const botonesEliminar = document.querySelectorAll('.btn-eliminar');

    botonesEliminar.forEach(btnEliminar => {
        btnEliminar.addEventListener('click', () => {
            const id = btnEliminar.dataset.id;
            const confirmarEliminarBtn = document.getElementById(`confirmarEliminar${id}`);
            const eliminarModal = new bootstrap.Modal(document.getElementById(`eliminarModal${id}`));

            confirmarEliminarBtn.addEventListener('click', async () => {
                try {
                    const data = await fetch(`/leagueoflegends/${id}`, {
                        method: 'DELETE'
                    });
                    const res = await data.json();
                    console.log(res);
                    if (res.estado) {
                        window.location.href = '/leagueoflegends';
                    } else {
                        console.log(res);
                    }
                } catch (error) {
                    console.log(error);
                }
            });

            eliminarModal.show();
        });
    });

    const formEditar = document.querySelector('#editar');
    formEditar.addEventListener('submit', async (e) => {
        e.preventDefault();

        const id = formEditar.elements['id'].value;
        const nombre = formEditar.elements['nombreInput'].value;
        const descripcion = formEditar.elements['descripcionInput'].value;
        const curiosidad = formEditar.elements['curiosidadInput'].value;
        const region = formEditar.elements['regionSelect'].value;
        const _id = formEditar.dataset.id;

        try {
            const data = await fetch(`/leagueoflegends/${_id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ id, Nombre: nombre, Descripcion: descripcion, Curiosidad: curiosidad, Region: region }),
            });

            if (data.ok) {
                const res = await data.json();

                if (res.estado) {
                    window.location.href = '/leagueoflegends';
                } else {
                    console.log(res);
                }
            } else {
                console.error('Error:', data.status);
            }
        } catch (error) {
            console.error('Error al procesar la respuesta JSON:', error);
        }
    });
});


    </script>
    